<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Subway" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-base-200">
    <%= render "shared/navbar" unless controller_name == "users" && action_name == "new" %>
    
    <% if flash[:notice] || flash[:alert] %>
      <div class="toast toast-bottom toast-end">
        <% if flash[:notice] %>
          <div role="alert" class="alert alert-success">
            <%= phosphor_icon "check-circle", height: 24, class: "shrink-0 stroke-current" %>
            <span><%= flash[:notice] %></span>
          </div>
        <% end %>

        <% if flash[:alert] %>
          <div role="alert" class="alert alert-error">
            <%= phosphor_icon "x-circle", height: 24, class: "shrink-0 stroke-current" %>
            <span><%= flash[:alert] %></span>
          </div>
        <% end %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>
